body {
    background-color: rgba(245, 245, 245, 0.2);
}

div.my-chart-div {
    padding-bottom: 5%;
}

.chart-header-flag {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.white-text {
    color: white;
}

.centered-text {
    text-align: center;
}

.centered-in-row {
    float: none;
    margin: 0 auto;
}